hardhat/node_modules
hardhat/artifacts
hardhat/cache
hardhat/deployments/hardhat
hardhat/deployments/localhost
hardhat/deployments/geth
#hardhat/deployments/*
hardhat/typechain-types

hardhat/.prettierignore.ci

.env
./.env
./*.env
./.env.*
.env*

.env.prod
.env.*

!/config/dApps/*.env
/config/dApps/localhost.env

/config/dApps/hardhat.env

hardhat/.env
hardhat/*.env
hardhat/.env.*

ops/testnet/.terraform/providers
.idea/
.vscode/
.run/
bin/
vendor/
.appData/
.DS_Store

dist/

darts

*.so

.appData/

notepad.sh
/.env.prod2

.appData

hardhat/.deps/

logs/

job-*/

notepad.txt

*.exe
darts.exe

repos/

test/noop-results/*
test/downloaded-files/*

ungit/
/data/ipfs/blocks/X3/CIQFTFEEHEDF6KLBT32BFAGLXEZL4UWFNWM4LFTLMXQBCERZ6CMLX3Y.data
/data/ipfs/blocks/_README
/data/ipfs/blocks/diskUsage.cache
/data/ipfs/blocks/SHARDING
/data/ipfs/datastore/000001.log
/data/ipfs/datastore/CURRENT
/data/ipfs/datastore/LOCK
/data/ipfs/datastore/LOG
/data/ipfs/datastore/MANIFEST-000000
/data/ipfs/config
/data/ipfs/datastore_spec
/data/ipfs/repo.lock
/data/ipfs/version
/Dockerfile.local
